.database {
  display: grid;
  grid-template-columns: 1fr 2fr;

  .search-forum {
    margin-top: 3.5rem ;
    
    span {
      display: block;
    }
    
    .filter {
      margin: 1rem auto;
    }
    .filter:first-child {
      margin: 0 auto;
    }
  }


  .search-results {
    .item-search {
      h4 {
	text-transform: none;
      }
    }
  }
} 

