.index-page {
  h2 {
    text-align: center;
  }
  .data-numbers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 2rem;
    h3,h5 {
      margin-top: .5rem;
    }
  }

  .method-workflow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .method-element {
      margin: auto .5rem;
      h3 {
	text-align: center;
      }  
    }
    
  }

  .latest-releases {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .release-element {
      display: flex;
      flex-direction: column;
      h3 {
	margin-top: 3rem;
	flex-grow: 2;
      }
      flex-basis: 30vw;
    }
  }
}
