* {
  box-sizing: border-box;
}

.ar {
  h1, h2, h3, h4, h5, h6, p, ul, li {
    direction: rtl;
    text-align: right;
  }
}

.unit {
  margin: 1.2rem;
  span {
    background-color: #e1e1e1;
    margin-right: 0.5rem;
  }

  p {
    margin-bottom: unset;
  }
}


@import "article";
@import "grid";
@import "database";
